@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "QuicksandBold";
    src: url("/fonts/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Baloo";
    src: url("/fonts/Baloo2-ExtraBold.ttf");
}

.background {
    -fx-background-color: #313543;
    background-color: #313543;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: 'Quicksand';
}

.tab-pane {
    -fx-background-color: #232c3d;
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
    -fx-tab-min-width: 8em;
}

#tabPane .tab:selected .focus-indicator {
    -fx-border-color: #E6B918 #E6B918 transparent #E6B918;
}

#tabPane .tab:selected .tab-label {
    -fx-text-fill: #E6B918;
}

.tab-pane .tab-header-area {
    -fx-background-color: #313543;
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.tab-pane .tab-header-area .tab {
    -fx-background-color: #313543;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #313543;
    -fx-opacity: 0.9;
}

.tab-pane .tab-header-area .tab .tab-label {
    -fx-font-size: 13pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.table-view {
    -fx-base: #313543;
    -fx-control-inner-background: #313543;
    -fx-background-color: #313543;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    /*-fx-border-width: 0 0 1 0;*/
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #59687C;
}

.split-pane {
    -fx-background-color: #59687C;

}

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: #59687C;
    -fx-background-radius: 10;
}

.list-cell {
    -fx-background-color: #59687C;
    -fx-background-radius: 10;
}

.list-cell:filled:even {
    -fx-background-color: #7A8AA0;
}

.list-cell:filled:odd {
    -fx-background-color: #4E5F78;
}

.list-cell:filled:selected #cardPane {
    /*-fx-border-color: #000000;*/
    /*-fx-background-color: #000000;*/
}

.list-cell:filled:selected .label {
    -fx-text-fill: #E6B918;
}

.module_big_label {
    -fx-font-family: "QuicksandBold";
    -fx-font-size: 17px;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Quicksand";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Quicksand";
    -fx-font-size: 10px;
    -fx-text-fill: #010504;
}

.stack-pane {
    -fx-background-color: #313543;
}

.pane-with-border {
    -fx-background-color: #313543;
    -fx-border-color: #313543;
    -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #313543;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Quicksand";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-container {
    -fx-background-color: #59687C;
    -fx-background-radius: 5, 5, 5, 5;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #44495B;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Quicksand";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 20px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.item-pane {
    -fx-background-color: #313543;
}

.grid-pane {
    -fx-background-color: #313543;
}

.grid-pane .stack-pane {
    -fx-background-color: #313543;
}

.context-menu {
    -fx-background-color: #313543;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #313543;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Quicksand", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.command-box-label {
    -fx-background-color: #313543;
    -fx-text-fill: white;
    -fx-font-family: "Quicksand";
    -fx-font-size: 12pt;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #59687C;
}

.scroll-bar .thumb {
    -fx-background-color: #7A8AA0;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: white;
}

#commandTextField {
    -fx-background-color: #454B5F;
    -fx-background-radius: 5, 5, 5, 5;
    -fx-font-family: "Quicksand";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#resultDisplay .content {
    /*-fx-background-color: #59687C;*/
    -fx-background-color: #44495B;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #D14F4F;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}
